__pycache__
.ruff_cache
.pytest_cache
.coverage
.coverage.*
htmlcov
coverage.xml
*.DS_Store
*.ipynb_checkpoints
__pycache__
*test*granules
*.egg*
build
.env
.venv
state_machines/rendered/
*.o
*.e
.claude